  <main class="form-signin">
    <form>
      <h1 class="h3 mb-3 fw-normal text-center">Reset Password</h1>
      <p class="text-center">Please enter your email address to request a password reset.</p>
      <div class="form-floating mb-4">
        <input
          type="email"
          class="form-control"
          placeholder="name@example.com"
          required
          #passwordResetEmail
        />
        <label for="floatingInput">Email address</label>
      </div>
      <input type="submit" class="btn btn-sm btn-ouline-secondary mb-4" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
    </form>
  </main>