.form-signin {
    width: 30%;
    margin: 4rem auto;
    height: 500px;
  }
  .btn {
    background-color: var(--main-color);
    color: white;
  }
  .form-check-input:checked {
    background-color: var(--main-color);
  }
  
  @media only screen and (max-width: 768px) {
    .form-signin {
      width: 60%;
      height: 500px;
      margin: 2rem auto;
    }
  }
  
  @media only screen and (max-width: 425px) {
    .form-signin {
      width: 90%;
    }
    .banklogin {
      font-size: 1rem;
    }
  }
  