<div
  class="d-flex justify-content-between flex-md-nowrap align-items-center m-2"
>
  <div class="d-flex flex-wrap filters">
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="isVisible = !isVisible"
    >
      <i class="bi bi-menu-up"> &nbsp;</i>Restaurants
    </button>
    <button class="btn btn-outline-secondary" type="button">
      <i class="bi bi-bank2"> &nbsp;</i>Musems
    </button>
    <button class="btn btn-outline-secondary" type="button">
      <i class="bi bi-film">&nbsp;</i>Cinema
    </button>
    <button class="btn btn-outline-secondary" type="button">
      <i class="bi bi-bank">&nbsp;</i>Theatres
    </button>
    <button class="btn btn-outline-secondary" type="button">
      <i class="bi bi-cup-straw">&nbsp;</i>Drinks
    </button>
    <button class="btn btn-outline-secondary" type="button">
      <i class="bi bi-star">&nbsp;</i>Things to do
    </button>
    <button class="btn btn-outline-secondary" type="button">
      <i class="bi bi-tree">&nbsp;</i>Parks
    </button>
    <button class="btn btn-outline-secondary" type="button">
      <i class="bi bi-music-note-beamed">&nbsp;</i>Dance
    </button>
    <button class="btn btn-outline-secondary" type="button">
      <i class="bi bi-shop">&nbsp;</i>Shops
    </button>
    <button class="btn btn-outline-secondary" type="button">
      <i class="bi bi-easel2">&nbsp;</i>Art
    </button>
  </div>
</div>

<div class="paikka">
  <img src="" alt="kuva" />
  <h1 class="nimi">Tähän tulee paikan nimi</h1>
  <p class="esittely">
    Tähän tulee paikan esittely. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Et labore architecto illum possimus doloribus fuga nobis
    aspernatur minus ad illo! Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Perferendis ullam quod quam ducimus cum modi sint blanditiis eligendi,
    hic consequatur ex exercitationem asperiores sapiente optio recusandae
    voluptate distinctio sed fuga.
  </p>
</div>

<ul>
  <li *ngFor="let item of myData$ | async">
    {{ item.id }}
  </li>
</ul>
