.paikka {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  background-color: orange;
  border: solid black;
  border-radius: 0.5rem;
  font-style: normal;
  animation: color 9s infinite linear;
}
.esittely {
  padding: 2rem;
  margin: 1rem;
  border: solid black 0.1rem;
  background-color: white;
  font-size: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 200%;
  background-image: linear-gradient(
    -45deg,
    yellow 0%,
    yellow 25%,
    yellow 51%,
    #ff357f 100%
  );
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}
@keyframes color {
  0% {
    background: orange;
  }
  50% {
    background: grey;
  }
  100% {
    background: orange;
  }
}
