<div class="d-flex flex-column gap-3">
  <div *ngFor="let place of placesList" class="card">
    <div class="card-body">
      <h5 class="card-title">{{ place.name }}</h5>

      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <div class="d-flex gap-1 flex-wrap">
        <span *ngFor="let type of place.types" class="badge text-bg-secondary">
          {{ type }}
        </span>
      </div>

      <div *ngIf="place.rating" class="d-flex flex-row gap-2">
        <p class="text-secondary">{{ place.rating }}</p>
        <ul class="d-flex flex-row text-warning list-unstyled">
          <li *ngFor="let rating of place.ratingArray">
            <i class="bi bi-star-fill"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
