.footer {
  border-top: 1px solid rgb(164, 164, 164);
}
.links {
  color: grey;
  font-size: 1.2rem;
  font-weight: 700;
}
.links:hover {
  color: var(--main-color);
}
.bi {
  font-size: 1.8rem;
}

@media only screen and (max-width: 375px) {
  .bi {
    font-size: 1.2rem;
  }
  .links {
    font-size: .9rem;
  }
}
