header {
  margin-top: 1rem;
  height: 80px;
}
.logo {
  width: 35%;
}
a {
  width: 50%;
  margin: 1rem;
}
.signUp-btn {
  background-color: var(--signUp-btn);
  color: white;
}
.btn {
  background-color: var(--main-color);
  color: white;
}
.signUp-btn {
  background-color: var(--signUp-btn);
  color: white;
}
.btn {
  background-color: var(--main-color);
  color: white;
}

.text-end {
  margin: 1rem;
}
.bi-person-circle,
.bi-cloud-fill {
  font-size: 1.5rem;
  color: var(--main-color);
}
.dropdown-toggle::after {
  color: var(--main-color);
}

@media only screen and (max-width: 768px) {
  .bi-person-circle,
  .bi-cloud-fill {
    font-size: 2rem;
  }
  .dropdown-toggle::after {
    font-size: 2rem;
  }
  .logo {
    width: 50%;
  }
}

@media only screen and (max-width: 425px) {
  header {
    margin-top: 0.8em;
  }
  .logo {
    width: 90%;
    margin-bottom: 1rem;
  }
}

.laptop-weather {
  max-width: 400px;
}
