header{
    margin-top: 1rem;
}
.logo{
    width: 20%;
}
a{
    width: 50%;
    margin: 1rem;
}
.btn{
    background-color: var(--main-color);
    color: white;
}
.text-end{
  margin: 1rem;
}


@media only screen and (max-width: 768px) {
    .logo {
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 425px) {
    .logo {
        width: 70%;
      }
    .banklogin{
      font-size: 1rem;
    }
    header{
        margin-top: .8em;
    }
  }
