<header class="d-flex align-items-center justify-content-between border-bottom">
  <a href="/" class="mb-2 mt-2 text-decoration-none">
    <img [src]="imgUrl" alt="Near me logo" class="logo" />
  </a>
  <div class="col-md-3 text-end">
    <button type="button" class="btn signUp-btn" *ngIf="isLogged">
      Sign-up
    </button>
    <button
      type="button"
      class="btn"
      *ngIf="!(auth.user | async)"
      [routerLink]="['/sign-in']"
    >
      Sign-in
    </button>
  </div>
  <!-- mobile weather view -->
  <div *ngIf="auth.user | async" class="d-md-none">
    <button
      [ngStyle]="{
        background: 'none',
        color: 'rgb(121, 83, 178)'
      }"
      class="btn"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseWeather"
      aria-expanded="false"
      aria-controls="collapseWeather"
    >
      <i class="bi bi-cloud-fill"></i>
    </button>
  </div>
  <!-- laptop weather view -->
  <div
    *ngIf="auth.user | async"
    class="laptop-weather overflow-auto d-none d-md-block"
  >
    <app-weather></app-weather>
  </div>
  <article class="dropdown text-end" *ngIf="auth.user | async">
    <a
      class="d-block link-dark text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      ><i class="bi bi-person-circle"></i>
    </a>
    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
      <li>
        <p class="dropdown-item"> Hello, {{currentUser.firstName}}</p>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <a
          class="dropdown-item"
          href="#"
          [routerLink]="['']"
          (click)="this.authService.SignOut()"
          >Sign out</a
        >
      </li>
    </ul>
  </article>
</header>
<!-- mobile weather collapse -->
<div class="collapse d-md-none" id="collapseWeather">
  <div class="overflow-auto">
    <app-weather></app-weather>
  </div>
</div>
