<div class="container mt-5">
  <section class="row">
    <div
      *ngFor="let favorite of favorites"
      class="col-12 col-sm-6 col-md-4 mb-5"
    >
      <div class="card">
        <img
          [src]="favorite.img"
          class="card-img-top"
          alt="Favorite place image"
        />

        <div class="card-body">
          <h5 class="card-title">{{ favorite.title }}</h5>
          <p class="card-text">{{ favorite.description }}</p>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <button
            (click)="removeFavorite(favorite.title)"
            type="button"
            class="btn btn-danger"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
