.row {
  height: 800px;
  margin-top: 6rem;
}
.card{
  margin-bottom: 1rem;
}
.card img {
  object-fit: cover;
  width: 100%;
  max-height: 150px;
}

.stars {
  margin-bottom: 1rem;
}
.bi-star-fill {
  color: #ff904d;
}

@media only screen and (max-width: 768px) {
  .row {
    height: 600px;
    margin-top: 5rem;
  }

}
@media only screen and (max-width: 475px) {
  .row {
    height: 550px;
  }
  .card{
    margin: 1rem;
  }
}
@media only screen and (max-width: 375px) {
  .row {
    height: 550px;
  }
 
}