<!-- <section *ngIf="favorites.length; else noFavorites" class="row overflow-auto"> -->
  <div
    class="col-12 col-md-6 col-xl-4 col-xxl-3"
  >
    <div class="card mb-3">
      <img
        [src]=""
        class="card-img-top"
        alt="Favorite place image"
      />

      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <div class="stars">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
        </div>
        <button
          type="button"
          class="btn btn-danger"
        >
          <i class="bi bi-trash3-fill"></i>
          Delete
        </button>
      </div>
    </div>
  </div>
<!-- </section> -->
<!-- if no favorites then show this -->
<ng-template #noFavorites>
  <div class="alert alert-primary d-flex gap-2 align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill"></i>
    <div class="no-favorites">No favorites found</div>
  </div>
</ng-template>
