<section class="box">
 <!--  <div class="d-flex flex-wrap"> -->
    <div class="px-3 py-4">
      <img
        *ngIf="currentPlace.photo"
        [src]="currentPlace.photo"
        class="card-img-top"
        alt="photo of the place"
      />
    </div>
    <div class="px-3 py-4">
      <div class="card-body">
        <h3 class="card-title">{{ currentPlace.name }}</h3>
        <article class="d-flex gap-4 mt-4">
        <p class="text-secondary" *ngIf="currentPlace.rating">
          rating: {{ currentPlace.rating }}
        </p>
        <ul class="d-flex flex-row text-warning list-unstyled">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
        </ul>
      </article>
      <p class="mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta dolore, consectetur, et magnam voluptas facere ipsa dolorem, incidunt reiciendis consequuntur magni? Sit dicta dolore odit? Laudantium quae ut inventore accusamus?</p>
      </div>
    </div>
 <!--  </div> -->
</section>
