main {
  margin-top: -3%;
}

.map {
  position: relative;
}
.filters-box {
  position: absolute;
  top: 2%;
  z-index: 1;
}
.filters {
  gap: 1.5rem;
}
.btn:hover {
  background-color: #787878;
  color: white;
}
.btn {
  background: #f8f9fa;
  border: none;
  color: #1c1c1d;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .filters {
    gap: 0.8em 2.3rem;
    margin-bottom: 0.5em;
  }
}
@media only screen and (max-width: 425px) {
  .filters {
    gap: 1rem 1.4rem;
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width: 767px) {
  .laptop-view {
    display: none;
  }
  main {
    margin-top: -28%;
  }
  .filters-box {
    position: relative;
    top: 20%;
    z-index: 1;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-dropdown {
    display: none;
  }
  .laptop-view {
    display: block;
  }
}
