<!-- mobile filters and weather view -->
<div class="mobile-dropdown">
  <div class="dropdown d-flex align-items-center gap-2">
    <button
      class="btn btn-secondary-outline dropdown-toggle ms-1 w-50"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      filters for searching
    </button>
    <ul class="dropdown-menu">
      <li>
        <button
          class="btn btn-outline-secondary dropdown-item"
          type="button"
          (click)="isVisible = !isVisible"
        >
          <i class="bi bi-menu-up"> &nbsp;</i>Restaurants
        </button>
      </li>
      <li>
        <button class="btn btn-outline-secondary dropdown-item" type="button">
          <i class="bi bi-bank2"> &nbsp;</i>Musems
        </button>
      </li>
      <li>
        <button class="btn btn-outline-secondary dropdown-item" type="button">
          <i class="bi bi-film">&nbsp;</i>Cinema
        </button>
      </li>
      <li>
        <button class="btn btn-outline-secondary dropdown-item" type="button">
          <i class="bi bi-bank">&nbsp;</i>Theatres
        </button>
      </li>
      <li>
        <button class="btn btn-outline-secondary dropdown-item" type="button">
          <i class="bi bi-tree">&nbsp;</i>Parks
        </button>
      </li>
      <li>
        <button class="btn btn-outline-secondary dropdown-item" type="button">
          <i class="bi bi-shop">&nbsp;</i>Shops
        </button>
      </li>
    </ul>
  </div>
</div>

<section class="map">
  <div class="filters-box">
    <div class="d-flex flex-wrap filters">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="isVisible = !isVisible"
      >
        <i class="bi bi-menu-up"> &nbsp;</i>Restaurants
      </button>
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-bank2"> &nbsp;</i>Musems
      </button>
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-film">&nbsp;</i>Cinema
      </button>
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-bank">&nbsp;</i>Theatres
      </button>
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-tree">&nbsp;</i>Parks
      </button>
    </div>
  </div>
  <google-map
    width="100%"
    height="750px"
    [scrollTop]="0"
    [options]="options"
    (mapClick)="isVisible = !isVisible"
    ngx-google-places-autocomplete
    #placesRef="ngx-places"
  >
  </google-map>
</section>
<app-favorite *ngIf="isVisible"></app-favorite>
