<div class="show-list-btn">
  <button
    class="btn btn-light rounded-start shadow-lg"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasWithBothOptions"
    aria-controls="offcanvasWithBothOptions"
  >
    <i
      [ngStyle]="{
        fontSize: '20px',
      }"
      class="bi bi-arrow-bar-right"
    ></i>
  </button>
  <div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    tabindex="-1"
    id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
        Places of interest
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <app-list [placesList]="placesList"></app-list>
    </div>
  </div>
</div>
