.search {
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  transition-duration: 0.3s;
  border: none;
  margin-right: 1rem;
  color: var(--main-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}
.search:hover {
  background-color: rgb(243, 243, 243);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}
